[submodule "test/data"]
	path = test/data
	url = https://github.com/arrayfire/arrayfire_data
[submodule "assets"]
	path = assets
	url = https://github.com/arrayfire/assets
[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "src/backend/cpu/threads"]
	path = src/backend/cpu/threads
	url = https://github.com/alltheflops/threads.git
[submodule "src/backend/cuda/cub"]
	path = src/backend/cuda/cub
	url = https://github.com/NVlabs/cub.git
