[submodule "test/data"]
	path = test/data
	url = https://github.com/arrayfire/arrayfire_data
[submodule "assets"]
	path = assets
	url = https://github.com/arrayfire/assets
[submodule "test/gtest"]
	path = test/gtest
	url = https://github.com/google/googletest.git
[submodule "src/backend/cpu/threads"]
	path = src/backend/cpu/threads
	url = https://github.com/alltheflops/threads.git
[submodule "extern/cub"]
	path = extern/cub
	url = https://github.com/NVlabs/cub.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "extern/forge"]
	path = extern/forge
	url = https://github.com/arrayfire/forge.git
[submodule "extern/glad"]
	path = extern/glad
	url = https://github.com/arrayfire/glad.git
