[submodule "test/data"]
	path = test/data
	url = https://github.com/arrayfire/arrayfire_data
[submodule "assets"]
	path = assets
	url = https://github.com/arrayfire/assets
[submodule "test/gtest"]
	path = test/gtest
	url = https://chromium.googlesource.com/external/googletest
